body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    background: #1e293b;
    padding: 20px;
}

.tools {
    padding: 20px;
}

.card {
    background: #1e293b;
    margin: 15px auto;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #16a34a;
}
